[Unit]
Description=PiSQM Light Sensor Service
Documentation=https://github.com/kmcnally/PiSQM
After=network.target

[Service]
Type=simple
User=pi
Group=pi
WorkingDirectory=/home/pi/git/PiSQM
Environment=PYTHONUNBUFFERED=1
ExecStart=/home/pi/git/PiSQM/venv/bin/python /home/pi/git/PiSQM/main.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
